{deps, [
    {lager, ".*", {git, "https://github.com/basho/lager.git", "master"}},
    {emysql, ".*", {git, "https://github.com/Eonblast/Emysql.git", "master"}},
    {jsx, ".*", {git, "https://github.com/talentdeficit/jsx.git","master"}},
    {cowboy, ".*", {git, "https://github.com/ninenines/cowboy.git", {tag, "2.0.0-pre.2"}}},
    {eredis, ".*", {git, "https://github.com/wooga/eredis", "master"}},
    {erlydtl, ".*", {git, "https://github.com/erlydtl/erlydtl.git","master"}},
    {merl, ".*", {git, "git://github.com/erlydtl/merl.git", {branch, "erlydtl"}}, [raw]}
		]}.
{sub_dirs, ["rel"]}.
{erl_opts, [
  {parse_transform, lager_transform},
	report,
	waring_as_errors,
	export_all,
	{out_dir, "ebin"},
	{src_dirs, ["src/"]},
	{i, "include"}
]}.


